.kegList {
    background-color: #6B591D;
    font-family: 'Montserrat', sans-serif;
    color: #EFCFB6;
    display: block;
    text-align: center;
    width: 600px;
    margin-right: auto;
    margin-left: auto;
}

